body{
  background-color: grey;
  text-align: center;
  display:flex;
  color: var(--white-color);
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.content_paypal a{
  color:green;
}
